.about-header {

    height: 70vh;

    display: flex;

    &__text-box {
        background-color: $color-blue-light;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 40%;
    }


    &__text {
        font-size: 3rem;
        text-align: center;
        padding: 0 3rem;
    }

    &__img {
        background: url('../images/queen-mary.png');
        width: 100%;
        background-position: center;
    }
}