.about-header {
    position: relative;
    height: 70vh;

    display: flex;


    &__animation {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 1000;
        background-image: linear-gradient(90deg, transparent 0%, transparent 30%, $color-blue-light 30%);
        animation: slideOut 1.5s ease-in;
        opacity: 0;

        // -webkit-transition: all 0.4s;
        // transition: all 0.4s;
    }

    &__text-box {
        background-color: $color-blue-light;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    &__text {
        font-size: 3rem;
        text-align: center;
        padding: 0 3rem;
        animation: showText .6s ease-in;
        animation-delay: 1.5s;
        animation-fill-mode: backwards;
    }

    &__img {
        background: url('../images/queen-mary.png');
        width: 100%;
        background-position: center;
        flex: 0 0 60%;
    }
}

@keyframes slideOut {
    0% {
        background-size: 100%;
        opacity: 1;
    }

    100% {
        background-size: 400%;
        opacity: 1;
    }


}


@keyframes showText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.about-mission {
    padding-top: 5rem;
    padding-bottom: 10rem;


    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__text {
        font-size: 2.2rem;
        color: $color-grey;
        padding: 0 5rem;

        &:not(:last-child) {
            margin-bottom: 6rem;
        }
    }
}


.contact-us {
    padding: 10rem 0;
    background-image: linear-gradient(120deg, $color-blue-light 30%, $color-light-green);


    &__card {
        box-shadow: 0 1.5rem 4rem rgba(#000000, 0.2);
        height: 500px;
        background-image: linear-gradient(105deg,
        rgba(#ffffff, 0.9) 0%,  rgba(#ffffff, 0.9) 50%, transparent 50%),
        url(../images/qmul.jpg);
        background-size: cover;
        border-radius: 5px;
    }
}